
.container:hover p {
    text-decoration: underline;
    
}

.container p:hover {
    font-weight: bold;
    text-decoration: none;
    
}

.container p:hover ~ p {
    font-style: italic;
    text-decoration: none;
}



p {
 margin:0px;
 padding:5px
}
