.carrer {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 500px;
  margin: 100px auto;
}

.case,
.espacevide {
  margin-bottom: 5px;
  margin-right: 5px;
  height: 130px;
  width: 130px;
}

.espacevide {
  background-color:white;
  border: none;
}
