button {
  background-color: rgb(209, 209, 209);
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.container {
  width: 840px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 210px);
  grid-template-rows: repeat(3, 210px);
}

#empty {
  width: 200px;
  height: 200px;
  order: 9;
}

#btn1 {
  order: 1;
}

#btn2 {
  order: 2;
}

#btn3 {
  order: 3;
}

#btn4 {
  order: 4;
}

#btn5 {
  order: 5;
}

#btn6 {
  order: 6;
}

#btn7 {
  order: 7;
}

#btn8 {
  order: 8;
}

h1 {
  text-align: center;
}

#gameFinish {
  color: red;
}